<html>
<head>
<title>{{$title}}Hello {{name}}{{/title}}</title>
</head>
<body>
{{>navigation}}
<div class="content">
{{$content}}Default content of the page{{/content}}
</div>
{{>footer}}
</body>
</html>
