{{<issue-17-parent2}}
{{$body}}

<div class="row-fluid">
    <div class="span3">
        ....
    </div>
    <div class="span9">
        {{$content}}default content{{/content}}
    </div>
</div>

{{/body}}
{{/issue-17-parent2}}
