Some content, with {{type}}
{{#section}}
{{%IMPLICIT-ITERATOR}}
    {{#subsection}}
        {{.}}
    {{/subsection}}
{{/section}}
{{#section2}}
    {{#subsection}}
        {{.}}
    {{/subsection}}
{{/section2}}
